kunteksto/output/dm-62342745-710d-4db3-b6cb-63b57eb2326b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="dm-description.xsl"?>
<xs:schema
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:dct="http://purl.org/dc/terms/"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:s3m="https://www.s3model.com/ns/s3m/"
  targetNamespace="https://www.s3model.com/ns/s3m/"
  xml:lang="en-US">

  <xs:include schemaLocation="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd"/>

<!-- Metadata -->
  <xs:annotation><xs:appinfo><rdf:RDF><rdf:Description
    rdf:about="62342745-710d-4db3-b6cb-63b57eb2326b">
    <dc:title>S3M Data Model</dc:title>
    <dc:creator>Data Insights, Inc.</dc:creator>
    <dc:contributor></dc:contributor>
    <dc:subject>S3M</dc:subject>
    <dc:rights>Copyright 2017, Data Insights, Inc.</dc:rights>
    <dc:relation>None</dc:relation>
    <dc:coverage>Global</dc:coverage>
    <dc:type>S3M Data Model</dc:type>
    <dc:identifier>62342745-710d-4db3-b6cb-63b57eb2326b</dc:identifier>
    <dc:description>S3M Data Model for /home/tim/DII/Kunteksto/example_data/Demo.csv</dc:description>
    <dc:publisher>Data Insights, Inc. via Kunteksto</dc:publisher>
    <dc:date>2017-07-14T05:40:19</dc:date>
    <dc:format>text/xml</dc:format>
    <dc:language>en-US</dc:language>
  </rdf:Description></rdf:RDF></xs:appinfo></xs:annotation>

  <xs:element name="dm-62342745-710d-4db3-b6cb-63b57eb2326b" type="s3m:mc-62342745-710d-4db3-b6cb-63b57eb2326b"/>
  <xs:complexType name="mc-62342745-710d-4db3-b6cb-63b57eb2326b">
    <xs:annotation>
      <xs:documentation>
        S3M Data Model for /home/tim/DII/Kunteksto/example_data/Demo.csv
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-62342745-710d-4db3-b6cb-63b57eb2326b">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#DMType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource="http://www.some_url.com"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:DMType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="s3m:ms-eec0c2ea-32f4-4a9a-9390-86453da82cc9"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-eec0c2ea-32f4-4a9a-9390-86453da82cc9" substitutionGroup="s3m:Definition" type="s3m:mc-eec0c2ea-32f4-4a9a-9390-86453da82cc9"/>
  <xs:complexType name="mc-eec0c2ea-32f4-4a9a-9390-86453da82cc9">
    <xs:annotation>
      <xs:documentation>
        This is the Entry container that provides all the required contextual information to manage a dataset. It is analogous to a dataset catalog entry.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-eec0c2ea-32f4-4a9a-9390-86453da82cc9">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#EntryType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource="http://www.some_url.com"/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:EntryType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="S3M Data Model"/>
          <xs:element maxOccurs="1" minOccurs="1" name="entry-language" type="xs:language" fixed="en-US"/>
          <xs:element maxOccurs="1" minOccurs="1" name="entry-encoding" type="xs:string" fixed="utf-8"/>
          <!-- current-state -->
          <xs:element maxOccurs="1" minOccurs="1" ref="s3m:ms-16ab36a3-fb3a-43fb-80c1-39f55f1c041e"/>
          <!-- subject -->
          <!-- provider -->
          <!-- participations -->
          <!-- protocol -->
          <!-- workflow -->
          <!-- audit -->
          <!-- attestation -->
          <!-- entry links -->
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <xs:element name="ms-16ab36a3-fb3a-43fb-80c1-39f55f1c041e" substitutionGroup="s3m:Item" type="s3m:mc-16ab36a3-fb3a-43fb-80c1-39f55f1c041e"/>
    <xs:complexType name="mc-16ab36a3-fb3a-43fb-80c1-39f55f1c041e">
      <xs:annotation>
        <xs:documentation>
          This is the Cluster that groups all of the data items (columns) definitions into one unit.
        </xs:documentation>
        <xs:appinfo>
          <rdf:Description rdf:about="mc-16ab36a3-fb3a-43fb-80c1-39f55f1c041e">
            <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#ClusterType"/>
            <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
            <rdfs:isDefinedBy rdf:resource="http://www.some_url.com"/>
          </rdf:Description>
        </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
        <xs:restriction base="s3m:ClusterType">
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="Data Items"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-78c4bdb2-6620-4292-8dc3-9d052cdfdfaa"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-839fbd86-f952-4c2f-a4d8-da7d54a74775"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-dc2533e8-c687-4023-b88e-d796babc22e7"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-f0bc8752-2931-4677-bdf1-9428606031a0"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-f80c89d1-95bc-4f10-8a3a-44a66ad8726b"/>
            <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ms-7822ae6c-42ba-4ca8-8cce-277617bd5636"/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  
<xs:element name="ms-78c4bdb2-6620-4292-8dc3-9d052cdfdfaa" substitutionGroup="s3m:Items" type="s3m:mc-78c4bdb2-6620-4292-8dc3-9d052cdfdfaa"/>
  <xs:complexType name="mc-78c4bdb2-6620-4292-8dc3-9d052cdfdfaa">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-cf0e6a34-cbf2-4377-b8d9-db9b434cc781"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-cf0e6a34-cbf2-4377-b8d9-db9b434cc781" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-cf0e6a34-cbf2-4377-b8d9-db9b434cc781"/>
  <xs:complexType name="mc-cf0e6a34-cbf2-4377-b8d9-db9b434cc781">
    <xs:annotation>
      <xs:documentation>
        This is the Count model component used to model integers.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-cf0e6a34-cbf2-4377-b8d9-db9b434cc781">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdCountType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdCountType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Record ID"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error"  type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdcount-value">
            <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="1"/>
              <xs:maxInclusive value="5"/>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="xdcount-units" type="s3m:mc-0ad57901-7a8c-4e96-93ba-9f2ee49bd6f7"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mc-0ad57901-7a8c-4e96-93ba-9f2ee49bd6f7">
    <xs:annotation>
      <xs:documentation>
        This is the String model component used to define Units values for Counts and Quantities.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-0ad57901-7a8c-4e96-93ba-9f2ee49bd6f7">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdStringType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Record ID Units"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdstring-value" type="xs:string" fixed=""/>
          <xs:element maxOccurs="1" minOccurs="1" name="xdstring-language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
<xs:element name="ms-839fbd86-f952-4c2f-a4d8-da7d54a74775" substitutionGroup="s3m:Items" type="s3m:mc-839fbd86-f952-4c2f-a4d8-da7d54a74775"/>
  <xs:complexType name="mc-839fbd86-f952-4c2f-a4d8-da7d54a74775">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-ac770a63-d019-4cb7-a2c4-88ba8504462f"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-ac770a63-d019-4cb7-a2c4-88ba8504462f" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-ac770a63-d019-4cb7-a2c4-88ba8504462f"/>
  <xs:complexType name="mc-ac770a63-d019-4cb7-a2c4-88ba8504462f">
    <xs:annotation>
      <xs:documentation>
        This is the String model component used to model text.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-ac770a63-d019-4cb7-a2c4-88ba8504462f">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdStringType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Text Column"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="xdstring-language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
<xs:element name="ms-dc2533e8-c687-4023-b88e-d796babc22e7" substitutionGroup="s3m:Items" type="s3m:mc-dc2533e8-c687-4023-b88e-d796babc22e7"/>
  <xs:complexType name="mc-dc2533e8-c687-4023-b88e-d796babc22e7">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-cb0c9fca-4f91-4929-a7e2-1903908e7fb1"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-cb0c9fca-4f91-4929-a7e2-1903908e7fb1" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-cb0c9fca-4f91-4929-a7e2-1903908e7fb1"/>
  <xs:complexType name="mc-cb0c9fca-4f91-4929-a7e2-1903908e7fb1">
    <xs:annotation>
      <xs:documentation>
        This is the Count model component used to model integers.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-cb0c9fca-4f91-4929-a7e2-1903908e7fb1">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdCountType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdCountType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Integer Column"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error"  type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdcount-value">
            <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="100"/>
              <xs:maxInclusive value="5000000"/>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="xdcount-units" type="s3m:mc-0a0dc8c7-9568-44f2-bb4b-3e8b5aebaf88"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mc-0a0dc8c7-9568-44f2-bb4b-3e8b5aebaf88">
    <xs:annotation>
      <xs:documentation>
        This is the String model component used to define Units values for Counts and Quantities.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-0a0dc8c7-9568-44f2-bb4b-3e8b5aebaf88">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdStringType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Integer Column Units"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdstring-value" type="xs:string" fixed=""/>
          <xs:element maxOccurs="1" minOccurs="1" name="xdstring-language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
<xs:element name="ms-f0bc8752-2931-4677-bdf1-9428606031a0" substitutionGroup="s3m:Items" type="s3m:mc-f0bc8752-2931-4677-bdf1-9428606031a0"/>
  <xs:complexType name="mc-f0bc8752-2931-4677-bdf1-9428606031a0">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-815c275c-bfc1-43bb-817b-35c9705ee971"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-815c275c-bfc1-43bb-817b-35c9705ee971" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-815c275c-bfc1-43bb-817b-35c9705ee971"/>
  <xs:complexType name="mc-815c275c-bfc1-43bb-817b-35c9705ee971">
    <xs:annotation>
      <xs:documentation>
        This is the String model component used to model text.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-815c275c-bfc1-43bb-817b-35c9705ee971">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdStringType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Integer Column Bad"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdstring-value" type="xs:string"/>
          <xs:element maxOccurs="1" minOccurs="1" name="xdstring-language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
<xs:element name="ms-f80c89d1-95bc-4f10-8a3a-44a66ad8726b" substitutionGroup="s3m:Items" type="s3m:mc-f80c89d1-95bc-4f10-8a3a-44a66ad8726b"/>
  <xs:complexType name="mc-f80c89d1-95bc-4f10-8a3a-44a66ad8726b">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-21406c04-7fcb-464e-97fa-ae97e4413516"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-21406c04-7fcb-464e-97fa-ae97e4413516" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-21406c04-7fcb-464e-97fa-ae97e4413516"/>
  <xs:complexType name="mc-21406c04-7fcb-464e-97fa-ae97e4413516">
    <xs:annotation>
      <xs:documentation>
        This is the Quantity model component used to model floats.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-21406c04-7fcb-464e-97fa-ae97e4413516">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdQuantityType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdQuantityType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Float Column"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="s3m:MagnitudeStatus"/>
          <xs:element maxOccurs="1" minOccurs="1" name="error"  type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdquantity-value">
            <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="100.01"/>
              <xs:maxInclusive value="5000000.09"/>
            </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="1" name="xdquantity-units" type="s3m:mc-5e220fdb-4604-4620-8611-a9451ca09429"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="mc-5e220fdb-4604-4620-8611-a9451ca09429">
    <xs:annotation>
      <xs:documentation>
        This is the String model component used to define Units values for Counts and Quantities.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-5e220fdb-4604-4620-8611-a9451ca09429">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdStringType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdStringType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Float Column Units"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="1"  name="xdstring-value" type="xs:string" fixed=""/>
          <xs:element maxOccurs="1" minOccurs="1" name="xdstring-language" type="xs:language" default="en-US"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
<xs:element name="ms-7822ae6c-42ba-4ca8-8cce-277617bd5636" substitutionGroup="s3m:Items" type="s3m:mc-7822ae6c-42ba-4ca8-8cce-277617bd5636"/>
  <xs:complexType name="mc-7822ae6c-42ba-4ca8-8cce-277617bd5636">
    <xs:complexContent>
      <xs:restriction base="s3m:XdAdapterType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="s3m:ms-96b136a5-92e3-411f-91e4-c0f387c8d625"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ms-96b136a5-92e3-411f-91e4-c0f387c8d625" substitutionGroup="s3m:XdAdapter-value" type="s3m:mc-96b136a5-92e3-411f-91e4-c0f387c8d625"/>
  <xs:complexType name="mc-96b136a5-92e3-411f-91e4-c0f387c8d625">
    <xs:annotation>
      <xs:documentation>
        This is the Temporal model component used to model dates, times or datetimes.
      </xs:documentation>
      <xs:appinfo>
        <rdf:Description rdf:about="mc-96b136a5-92e3-411f-91e4-c0f387c8d625">
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model_3_0_0.xsd#XdTemporalType"/>
          <rdfs:subClassOf rdf:resource="https://www.s3model.com/ns/s3m/s3model/RMC"/>
          <rdfs:isDefinedBy rdf:resource=""/>
        </rdf:Description>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="s3m:XdTemporalType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" name="label" type="xs:string" fixed="The Date Column"/>
          <xs:element maxOccurs="1" minOccurs="0" ref="s3m:ExceptionalValue"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vtb" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="vte" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="tr" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="modified" type="xs:dateTime"/>
          <xs:element maxOccurs="1" minOccurs="0" name="xdtemporal-date" type="xs:date"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-time" type="xs:time"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-datetime" type="xs:dateTime"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-day" type="xs:gDay"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-month" type="xs:gMonth"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-year" type="xs:gYear"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-year-month" type="xs:gYearMonth"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-month-day" type="xs:gMonthDay"/>
          <xs:element maxOccurs="0" minOccurs="0" name="xdtemporal-duration" type="xs:duration"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
